.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a363b;
  }

  .linkRegister {
    display: inline-block;
    text-decoration: none;
    border-right: 1px solid;
    padding: 12px;
    font-weight: 700;
    color: var(--primary-text-color);
  }
  
  .link.active {
    color: #e84a5f;
  }